* {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

img {
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    border-bottom: 1px solid seashell;
}

.navbar li {
    list-style: none;
    display: inline-flex;
    text-decoration: underline;
    margin-left: 12px;
}

.navbar img {
    height: 50px;
}

.nav-items {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}