* {
    font-family: Helvetica, sans-serif;
    color: seashell;
    text-align: center;
}

body {
    background-color: black;
    opacity: 0.9;
}

p, li, h4 {
    font-size: 22px;
    opacity: 0.9;
}

img {
    width: 100%;
    opacity: 0.4;
}

/* navbar styling */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    border-bottom: 1px solid seashell;
    z-index: 2;
}

.navbar li {
    list-style: none;
    display: inline-flex;
    text-decoration: underline;
    margin-left: 16px;
}

.navbar img {
    height: 50px;
    opacity: 1;
}

.nav-items {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

/* hero styling */

.mission {
    margin: 0px 20px 80px 20px;
}

.mission img {
    width: 100%;
    height: 700px;
    object-fit: cover;       
    object-position: center;
    display: block;     
}

.banner {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    opacity: 1;
    line-height: 0px;
    background-color: black;
}

.mission .banner {
    position: absolute;
    z-index: 2;
    top: 350px;
    width: 100%;
    left: 0;
    right: 0;
}

h2 {
    font-size: 40px;
    opacity: 0.9;
}


/*featured tea styling*/

.featured-tea .banner {
    margin-bottom: 20px;
}

.tea-cards {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin-bottom: 80px;
}

.tea-card-item {
    margin-right: 30px;
    margin-bottom: 30px;
}

.tea-cards img {
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
}

.tea-card-item p {
    font-weight: bold;
}


/*locations styling*/

.locations {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("images/img-locations-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .location-card-item {
    padding: 20px;
    width: 300px;
    background-color: black;
    display: inline-flex;
    align-content: center;
    flex-direction: column;
    margin-right: 20px;
  }

  .location-card-item h3 {
    font-size: 24px;
  }

  .footer {
    text-align: center;
  }

  .footer h5, p {
    font-size: 18px;
    font-weight: bold;
  }

  .copyright {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    padding-bottom: 20px;
  }